* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
p {
  font-size: 16px;
}
body {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
}
.header {
  max-height: 970px;
  margin-bottom: 150px;
  padding-top: 94px;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.header-img {
  background: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
.header-img::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  padding: 0 50px;
  list-style: none;
  margin: 0;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 94px;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  transition: background-color 0.3s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 72px;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: white;
  background-color: #3a71d1;
  padding: 25px 60px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}
.header-button {
  height: 100%;
  padding: 25px 50px;
}
.header-logo {
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
}
.seporator {
  width: 150px;
  height: 2px;
  background-color: #5c8ee5;
}
.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}
.header-content-title {
  max-width: 1080px;
  color: white;
  margin: 30px 0;
  font-family: Bebas Neue;
  font-size: 80px;
  line-height: 120%;
}
.header-text {
  max-width: 720px;
  color: white;
  margin-bottom: 50px;
  line-height: 160%;
}
.header-features {
  list-style: none;
  display: flex;
  z-index: 1;
  position: relative;
  padding: 0;
  margin: 0;
}
.header-features-text {
  color: white;
  font-size: 16px;
  line-height: 160%;
}
.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.section-title {
  font-size: 60px;
  font-family: Bebas Neue;
  line-height: 120%;
  color: #292d33;
  margin-top: 30px;
}
.steps {
  display: flex;
  padding: 0;
  gap: 30px;
  list-style: none;
}
.steps-item {
  max-width: 330px;
}
.steps-title {
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  font-weight: 400;
  margin-bottom: 10px;
}
.steps-num {
  color: #5c8ee5;
  font-size: 48px;
  font-family: Bebas Neue;
  line-height: 120%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ebebf0;
  display: inline-block;
  margin-left: 30px;
}
.steps-text {
  font-size: 16px;
  font-family: Noto Sans;
  line-height: 160%;
  color: #828a99;
  margin: 0;
  margin-bottom: 20px;
}
.steps-link {
  text-decoration: none;
  color: #5c8ee5;
  font-weight: 600;
  line-height: 160%;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.steps-link::before {
  content: "";
  height: 1px;
  background-color: #5c8ee5;
  display: inline-block;
  width: 40px;
  margin-right: 20px;
}
