* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
p {
  font-size: 1rem;
}
body {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  font-display: swap;
}
.mobile-menu {
  display: none;
}

.header {
  margin-bottom: 10rem;
  padding-top: 5.875rem;
  min-height: 100vh;
}
.no-webp .header-bg-img {
  background-image: url(../img/interior-bg-img.png);
}
.header-bg-img {
  background-image: url(../img/interior-bg-img.webp);
}
.header-interior {
  background: var(--bg-2, #f0f2f5);
  margin-top: 6.6rem;
}
.no-webp header-bg-img {
  background-image: url(../img/about-header-bg.png);
}
.header-bg-img {
  background-image: url(../img/about-header-bg.webp);
}
.header-bg-grey {
  background-color: var(--bg-2, #f0f2f5);
}
.header-content-title-dark {
  color: var(--txt, #292d33);
}
.header-content-wrapper {
  padding-top: 3.125rem;
  margin-bottom: 10rem;
}
.header-interior-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.125rem;
}
.header-interior-info {
  width: 60%;
}
.header-interior-img {
  display: flex;
}

.interior-img {
  bottom: 0;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.breadcrumb-link-home {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  margin-right: 0.625rem;
}

.breadcrumb-link-home::after {
  display: inline-block;
  align-items: center;
  width: 0.875rem;
  content: "";
  height: 0.07rem;
  background-color: var(--txt-2, #828a99);
  margin-left: 0.625rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  align-items: center;
  display: flex;
  margin-right: 0.625rem;
}

.breadcrumbs-dark {
  color: var(--txt, #292d33);
}

.breadcrumbs-home-dark {
  color: var(--txt-2, #828a99);
}

.container {
  max-width: 95.875rem;
  margin: auto;
}
.no-webp .header-img {
  background-image: url("../img/header-bg.png");
}
.header-img {
  background-image: url("../img/header-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  height: 64.625rem;
}
.header-img::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.header-nav {
  flex-basis: 100%;
  display: flex;
  padding: 0 43px;
  list-style: none;
  margin: 0;
  align-items: center;
  height: 100%;
}
.header-nav-item {
  height: 100%;
  align-items: center;
}
.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  height: 100%;
  align-items: center;
  display: flex;
  position: relative;
}
.header-nav-link:after {
  content: "";
  bottom: -1px;
  width: 0px;
  height: 2px;
  background-color: #5c8ee5;
  position: absolute;
  transition: width 0.2s;
  right: 0;
  left: auto;
}

.header-nav-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.header-nav-item:not(:last-child) {
  margin-right: 4%;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.logo-dark {
  display: none;
}

.logo-features {
  width: 2.25rem;
  height: 2.25rem;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 6.7rem;
  position: fixed;
  border-bottom: 0.0625rem solid rgba(235, 235, 240, 0.2);
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  transition: background-color 0.3s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292d33;
}

.navbar-light .logo-light {
  display: none;
}

.navbar-light .logo-dark {
  display: block;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 4rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.phone-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #5c8ee6;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: white;
  background-color: #3a71d1;
  padding: 1.75rem 3.75rem;
  gap: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
  word-spacing: 3px;
  letter-spacing: 0.08px;
  width: 20.8rem;
}
.header-button {
  height: 100%;
  width: 241px;
  padding: 20px;
  word-spacing: 5px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 1.5625rem 3.125rem;
}

.header-button .button-icon {
  display: none;
}
.header-logo {
  padding: 0 3.43rem;
  border-right: 0.0625rem solid rgba(235, 235, 240, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
  width: 267px;
}
.seporator {
  width: 9.9rem;
  height: 0.125rem;
  background-color: #5c8ee5;
}
.header-content {
  padding-top: 10.5rem;
  position: relative;
  z-index: 1;
  margin-bottom: 6.7rem;
}
.header-content-title {
  max-width: 80%;
  color: white;
  margin: 1.4rem 0 2.25rem 0rem;
  font-family: Bebas Neue;
  font-display: swap;
  font-size: 5rem;
  margin-bottom: 32px;
  font-weight: 600;
  line-height: 127%;
  letter-spacing: 1.7px;
  word-spacing: 3px;
}

.header-content-title-dark {
  color: var(--txt, #292d33);
}

.header-text {
  max-width: 45rem;
  color: white;
  margin-bottom: 3.3rem;
  line-height: 170%;
  word-spacing: 0.34rem;
  letter-spacing: 0.09px;
}

.header-features {
  list-style: none;
  display: flex;
  z-index: 1;
  position: relative;
  padding: 0;
  margin: 0;
}
.header-features-text {
  color: white;
  font-size: 1rem;
  line-height: 170%;
  margin: 1.25rem -0.0625rem 1.875rem -0.0625rem;
  word-spacing: 1px;
  letter-spacing: 0.2px;
}
.header-features-text-dark {
  color: var(--txt, #292d33);
}
.header-features-item {
  display: flex;
  flex-direction: column;
  padding: 2rem 4.6rem 0 3.3rem;
  border: 2px solid rgba(235, 235, 240, 0.2);
  word-spacing: -0.0563rem;
  height: auto;
  width: 20%;
}
.header-features-border-dark {
  border: 2px solid #ebebf0;
}
.features-slider-margin {
  margin-bottom: 10rem;
}
.slider-buttons {
  display: none;
  height: 44px;
  position: relative;
}

.slider-button-blue {
  background-color: #5c8ee5;
}

.slider-buttons-steps {
  display: none;
}

.primary-buttons-wrapper {
  height: 40px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.slider-button-prev,
.slider-button-next {
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.primary-button-prev,
.primary-button-next {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--main, #5c8ee5);
  width: 5rem;
  height: 3.75rem;
}

.primary-button-prev {
  border-right: 1px solid white;
}

.section-title {
  font-weight: 600;
  font-size: 3.75rem;
  font-family: Bebas Neue;
  font-display: swap;
  line-height: 122%;
  color: #292d33;
  margin-top: 1.8rem;
  letter-spacing: 0.13rem;
  margin-bottom: 3.7rem;
}
.steps {
  display: flex;
  padding: 0;
  gap: 1.875rem;
  list-style: none;
  margin: 0;
  margin-bottom: 7rem;
}
.steps-item {
  display: flex;
  flex-direction: column;
  max-width: 22.1rem;
  padding-right: 1.875rem;
  height: 100%;
}
.steps-title {
  font-size: 1.75rem;
  line-height: 170%;
  color: #292d33;
  font-weight: 400;
  word-spacing: 1.6875rem;
  letter-spacing: 0.9px;
  margin-bottom: 0.7rem;
}
.steps-num {
  color: #5c8ee5;
  font-size: 3rem;
  font-family: Bebas Neue;
  font-display: swap;
  line-height: 120%;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
}
.steps-num::after {
  content: "";
  height: 0.0625rem;
  width: 100%;
  background-color: #ebebf0;
  display: inline-block;
  margin-left: 1.875rem;
}
.steps-text {
  font-size: 1rem;
  font-family: Noto Sans;
  font-display: swap;
  line-height: 160%;
  color: #828a99;
  margin: 0;
  width: 20rem;
  letter-spacing: 0.4px;
}
.button-link {
  text-decoration: none;
  color: #5c8ee5;
  font-weight: 600;
  line-height: 160%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-top: 20px;
  letter-spacing: 0.8px;
  word-spacing: -3px;
}
.button-link::before {
  content: "";
  height: 0.0625rem;
  background-color: #5c8ee5;
  display: inline-block;
  width: 2.5rem;
  margin-right: 1.4rem;
  transition: width 0.2s;
}
.button-link:hover::before {
  width: 60px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 9.9rem;
}
.card {
  flex-basis: 33%;
  border: 1px solid var(--sep, #ebebf0);
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
  height: 39.6rem;
}

.card:hover .card-title {
  color: #5c8ee5;
}

.card:hover {
  border: 1px solid var(--sep, #5c8ee5);
}

.card-title {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt, #292d33);
  margin-bottom: 8px;
  transition: color 0.2s;
  margin-top: 2.6rem;
  margin-left: 3.5rem;
  letter-spacing: 0.9px;
}

.card-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--txt-2, #828a99);
  margin-bottom: 24.625rem;
  margin-top: 0;
}
.card-contant {
  padding: 0rem 3.2rem;
}
.card-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
}
.marks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 9.7rem;
  width: 100%;
}
.mark:hover {
  border: 1px solid var(--sep, #5c8ee5);
}

.mark:hover .mark-title {
  color: #5c8ee5;
}
.mark {
  display: grid;
  flex-basis: 50%;
  border: 1px solid var(--sep, #ebebf0);
  text-decoration: none;
  transition: border 0.2s;
  padding: 3.5rem 3.125rem 3.125rem 3.125rem;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0.4rem;
  grid-template-areas:
    "logo title title"
    "logo text text";
}
.mark:hover .mark-img {
  fill: rgba(92, 142, 229, 1);
}
.mark-img {
  grid-area: logo;
  fill: #828a99;
  height: 12.375rem;
  width: 11.9375rem;
}
.mark-title {
  grid-area: title;
}
.mark-text {
  grid-area: text;
}
.mark-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  color: var(--txt, #292d33);
  margin: 0;
  letter-spacing: -1px;
}
.mark-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--txt-2, #828a99);
  margin: 0;
  margin-top: 0.8rem;
}

.section-founder {
  position: relative;
  margin-bottom: 19rem;
}

.founder-photo {
  position: absolute;
  width: 43.7%;
  top: 0;
  left: 0;
  height: 43.875rem;
  object-fit: cover;
}

.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 34.875rem;
}

.founder-contant {
  max-width: 48rem;
  height: 100%;
  padding-top: 3.3rem;
}

.founder-title {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  letter-spacing: 1.6px;
  width: 26rem;
  color: var(--txt, #292d33);
  margin-bottom: 1.5rem;
}

.founder-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--txt-2, #828a99);
  margin: 0;
  line-height: 175%;
  margin-bottom: 1.3rem;
}

.button-link-founder {
  margin-top: 2rem;
}

.clients {
  margin-bottom: 10.2rem;
}

.clients-wrapper {
  display: flex;
  gap: 19px;
}

.clients-title {
  margin-bottom: 3rem;
}

.clients-content {
  flex-basis: 50%;
}

.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
}

.clients-item {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.8rem;
}

.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
  margin-top: 2rem;
}

.clients-logo-item {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebf0;
  padding: 2.3rem 1rem 2.3rem 1rem;
}

.clients-logo-img {
  display: flex;
  justify-content: center;
}

.client {
  width: 70px;
  height: 70px;
  display: block;
}

.clients-logo-item:hover .client {
  background-image: url(../img/client.webp);
}

.section-blog {
  margin-bottom: 14rem;
}

.blog-title {
  margin-bottom: 3.8rem;
}

.blog-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.blog-text-first,
.blog-text-second {
  max-width: 560px;
}

.blog-text-left,
.blog-text-right {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt-2, #828a99);
}

.card-blog {
  position: relative;
  min-height: 26.7rem;
  text-decoration: none;
  color: white;
  padding: 3.125rem;
  flex-direction: column;
  justify-content: flex-end;
}

.card-blog::before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
}

.blog-card-title {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  line-height: 158%;
  margin: 0;
  letter-spacing: 0.9px;
}

.blog-card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.4rem;
  margin-left: 0.125rem;
  letter-spacing: 0.44px;
}

.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  width: 100%;
}

.blog-slider-footer {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  justify-content: space-between;
  height: 60px;
}

.slider-button-blog-prev,
.slider-button-blog-next {
  width: 5.3rem;
  height: 4rem;
}

.button-link-blog {
  margin-top: 1.2rem;
  width: 100%;
}

.bg-grey {
  width: 100%;
  background-color: var(--bg-2, #f0f2f5);
  position: relative;
  padding-bottom: 3rem;
}
.about-cta {
  margin-top: 12rem;
}
.section-cta {
  padding-top: 6.25rem;
  position: relative;
}

.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cta-form {
  max-width: 56rem;
  width: 100%;
  margin-bottom: 3.8rem;
}

.cta-img {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 45rem;
  width: 37.5%;
  height: 42.125rem;
}

.form-title {
  margin: 0;
}

.form-text {
  color: var(--txt-2, #828a99);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2rem;
  margin-bottom: 3.4rem;
  width: 40rem;
}

.notify-text {
  color: var(--txt-2, #828a99);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 23.6875rem;
  margin-top: 0;
}

.cta-form-footer {
  display: flex;
  align-items: center;
}

.notify {
  display: flex;
  margin-left: 1.875rem;
  gap: 0.625rem;
  align-items: flex-start;
  margin-top: 10px;
}

.input-group {
  position: relative;
  height: 4.125rem;
  flex-grow: 1;
  background: var(--bg-2, #f0f2f5);
}

.input {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 1.25rem 1.875rem;
  background-color: inherit;
}

.input-group-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
  gap: 1.875rem;
}

.input-group-label {
  position: absolute;
  cursor: text;
  top: 1rem;
  left: 1.975rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt-2, #828a99);
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input {
  border: 1px solid var(--sep-2, #e4e4eb);
  background: transparent;
}

.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1rem;
  font-size: 0.625rem;
  background: inherit;
  padding: 0 0.625rem;
}

.input:focus {
  border: 1px solid #5c8ee5;
  outline: 0;
}

.cta-form-button {
  flex-shrink: 0;
  padding: 1.2rem 0;
  width: 15.8rem;
}

.footer-top {
  display: flex;
  align-items: center;
  padding-top: 1.9rem;
  padding-bottom: 1.2rem;
}

.logo-footer {
  width: 13.3rem;
  height: 7.2rem;
  margin-right: 10.8rem;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-info-mail {
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt, #292d33);
  margin-right: 5.8rem;
}

.footer-info-adress {
  text-decoration: none;
  font-style: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt, #292d33);
  width: 21.5rem;
  letter-spacing: 0.17px;
  word-spacing: 1.1px;
}

.footer-phone {
  text-decoration: none;
  font-style: inherit;
  color: var(--txt, #292d33);
  font-size: 2rem;
  font-weight: 600;
  line-height: 160%;
  text-decoration-line: underline;
  letter-spacing: 0.6px;
  margin-right: 5.4rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-menu-title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.footer-menu-list {
  list-style: none;
  padding-left: 1.25rem;
  margin: 0;
}

.footer-menu-colum-2 {
  columns: 20rem auto;
  min-width: 48rem;
}

.footer-menu-link {
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt-2, #828a99);
  margin-bottom: 0.9375rem;
  display: block;
}

.footer-menu-link-bold {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: var(--txt, #292d33);
  margin-bottom: 1.875rem;
}

.footer-bottom {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2.4rem;
}

.footer-menu-wrapper:last-child {
  margin-left: 5rem;
}

.legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt-2, #828a99);
}

.footer-policy {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: underline;
  color: var(--txt-2, #828a99);
}

.footer-author {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.made-in {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt-2, #828a99);
}

.footer-menu-wrapper-marks {
  margin-right: 7rem;
}

.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}

.modal-success {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}

.modal-success.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal-success.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal-dialog {
  margin: auto;
  max-width: 35rem;
  background-color: white;
  padding: 2.5rem 3.125rem;
  position: relative;
  transform: translateY(-10%);
  transition: transform 0.3s, opacity 0.3s;
}

.modal-link-success {
  text-decoration: none;
}

.modal-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-success-img {
  width: 100%;
}

.modal-footer-text {
  width: 21rem;
}

.modal-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: var(--txt, #292d33);
  font-family: Bebas Neue;
  font-display: swap;
}

.modal-close {
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid var(--sep, #ebebf0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--txt-2, #828a99);
  margin-bottom: 1.875rem;
}

.input-group-vertical {
  display: flex;
  flex-direction: column;
}

.input-group-modal {
  width: 100%;
  background-color: #fff;
}

.input-modal {
  background-color: #fff;
}

.modal-form-footer {
  margin-top: 1.875rem;
}

.modal-notify {
  display: flex;
  gap: 0.625rem;
  min-width: 22.5rem;
}
.modal-form-button {
  display: flex;
  width: 100%;
  height: 3.875rem;
  padding: 20px 3.125rem;
  margin-bottom: 1.5rem;
}
.input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  top: -0.5rem;
  right: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: inline-block;
  font-size: 0.8rem;
  background-color: inherit;
}
@media (max-width: 1920px) {
  html {
    font-size: 16px;
  }
  .header-img {
    background-position: center;
  }
}
@media (max-width: 1680px) {
  html {
    font-size: 14.5px;
  }
  .header-img {
    background-position: center;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
  .header-img {
    background-position: center;
  }
  .footer-phone {
    font-size: 1.4rem;
  }
}
@media (max-width: 1536px) {
  html {
    font-size: 12px;
  }
  .header-img {
    background-position: center;
  }
}
@media (max-width: 1440px) {
  .html {
    font-size: 11.3px;
  }
  .header-img {
    background-position: center;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 11px;
  }
  .header-img {
    background-position: center;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 10.5px;
  }
  .header-img {
    background-position: center;
    height: 955px;
  }
  .header-img {
    height: 980px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 70rem;
  }
  .header-img {
    background-position: center;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 6.7rem;
  }
  .logo-svg {
    width: 11.75rem;
    height: 6.75rem;
  }
  .slider-buttons {
    display: flex;
  }
  .slider-buttons-steps {
    display: flex;
    justify-content: flex-end;
  }
  .header-features-text {
    font-size: 10px;
  }
  .card {
    flex-basis: 50%;
  }
  .mark {
    flex-basis: 100%;
  }
  .founder-contant {
    max-width: 35rem;
  }
  .clients-content {
    flex-basis: 60%;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .cta-img {
    display: none;
  }
  .cta-form-wrapper {
    justify-content: center;
  }
  .footer-phone {
    font-size: 1rem;
  }
  .logo-footer {
    width: 10rem;
    height: 3.125rem;
    margin-bottom: 1.875rem;
  }
  .footer-top {
    display: block;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  .footer-top-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .footer-info-mail {
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: var(--txt, #292d33);
    margin-right: 5.8rem;
  }

  .footer-info-adress {
    text-decoration: none;
    font-style: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--txt, #292d33);
    width: 21.5rem;
    letter-spacing: 0.17px;
    word-spacing: 1.1px;
  }

  .footer-info {
    display: flex;
    margin-bottom: 1.3125rem;
    gap: 0.625rem;
  }

  .footer-phone {
    display: inherit;
    text-decoration: none;
    font-style: inherit;
    color: var(--txt, #292d33);
    font-size: 2rem;
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    letter-spacing: 0.6px;
    margin-right: 5.4rem;
    margin-bottom: 1.3125rem;
  }

  .footer-social {
    display: flex;
    gap: 0.9375rem;
  }

  .footer-bottom {
    display: block;
  }

  .footer-menu-colum-2 {
    columns: 1;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 0;
  }
  .footer-menu-list-third {
    padding-left: 0;
  }
  .footer-seporator-first {
    margin: 0;
  }
  .footer-menu-title {
    margin-bottom: 1.25rem;
  }
  .footer-menu-wrapper {
    margin-bottom: 1.25rem;
  }
  .footer-bottom {
    padding-bottom: 0;
  }
  .footer-wrapper-legal {
    display: block;
  }
  .legal {
    display: block;
  }
  .copyright {
    margin: 0;
    margin-bottom: 0.625rem;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .legal-link {
    margin-bottom: 0.625rem;
  }
  .footer-policy {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .footer-wrapper-legal {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .footer-seporator-second {
    margin: 0;
  }
  .made-in {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

@media (max-width: 1030px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
  }

  .navbar-light .mobile-menu-line {
    background-color: #000;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .button-text {
    display: none;
  }
  .header-button .button-icon {
    display: block;
  }
  .button-icon {
    fill: #ffffff;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    font-weight: 700;
    line-height: 160%;
    font-size: 14px;
    font-style: normal;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    text-decoration: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 1.875rem;
  }
  .mobile-menu-link {
    list-style: none;
    text-decoration: none;
    color: var(--txt, #292d33);
    margin-bottom: 20px;
  }
  .mobile-submenu {
    padding: 0;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
  }
  .mobile-submenu-link {
    list-style: none;
    font-weight: 400;
    line-height: 160%;
    font-size: 14px;
    color: var(--txt-2, #828a99);
    text-decoration: none;
  }
  .mobile-submenu {
    list-style: none;
  }
  .mobile-submenu-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .mobile-phone {
    color: var(--txt, #292d33);
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    font-size: 20px;
    border-top: 1px solid var(--sep, #ebebf0);
    padding-top: 2rem;
    display: block;
    margin-bottom: 20px;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  .mobile-info-icon {
    fill: #5c8ee5;
  }
  .mobile-info-adress {
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-size: 14px;
    text-decoration: none;
  }
  .mobile-info-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-size: 14px;
    color: var(--txt, #292d33);
  }
  .networks {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.9375rem;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
  .primary-button-prev,
  .primary-button-next {
    width: 60px;
    height: 30px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
  }

  .navbar-light .mobile-menu-line {
    background-color: #000;
  }
  .mobile-menu-toggle {
    width: 8.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 2.8rem 3rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-dark {
    background-color: #000;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .button-text {
    display: none;
  }
  .header-button .button-icon {
    display: block;
  }
  .button-icon {
    fill: #ffffff;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    font-weight: 700;
    line-height: 160%;
    font-size: 14px;
    font-style: normal;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    text-decoration: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 1.875rem;
  }
  .mobile-menu-link {
    list-style: none;
    text-decoration: none;
    color: var(--txt, #292d33);
    margin-bottom: 20px;
  }
  .mobile-submenu {
    padding: 0;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
  }
  .mobile-submenu-link {
    list-style: none;
    font-weight: 400;
    line-height: 160%;
    font-size: 14px;
    color: var(--txt-2, #828a99);
    text-decoration: none;
  }
  .mobile-submenu {
    list-style: none;
  }
  .mobile-submenu-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .mobile-phone {
    color: var(--txt, #292d33);
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    font-size: 20px;
    border-top: 1px solid var(--sep, #ebebf0);
    padding-top: 2rem;
    display: block;
    margin-bottom: 20px;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  .mobile-info-icon {
    fill: #5c8ee5;
  }
  .mobile-info-adress {
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-size: 14px;
    text-decoration: none;
  }
  .mobile-info-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-size: 14px;
    color: var(--txt, #292d33);
  }
  .networks {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.9375rem;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(7px) translateX(-4px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .section-light {
    margin-bottom: 9.9rem;
  }
  .header-content-title {
    font-size: 4rem;
  }
  .header-features-item {
    width: 18rem;
  }
  .header-content {
    margin-top: 3rem;
    padding-top: 0;
  }
  .section-title {
    font-size: 3rem;
  }
  .card {
    flex-basis: 100%;
    height: 43.6rem;
  }
  .mark-text {
    font-size: 0.875rem;
  }
  .mark-img {
    width: 6.25rem;
    height: 6.25rem;
  }
  .section-title {
    font-size: 3.6rem;
    letter-spacing: -1px;
    margin-bottom: 2.7rem;
    letter-spacing: -0.7px;
    margin-left: 1px;
  }
  .steps-num {
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: -1px;
    margin-bottom: 1rem;
  }
  .steps-item {
    max-width: 31.3rem;
  }
  .steps-title {
    margin-top: 0;
    font-size: 1.9rem;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  .steps-text {
    width: 100%;
    letter-spacing: 0.6px;
    font-size: 1.3rem;
    line-height: 165%;
    margin-bottom: 2.8rem;
  }
  .steps-link::before {
    width: 4rem;
    margin-right: 1.9rem;
    margin-left: 0.2rem;
  }
  .steps-link {
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    word-spacing: -4px;
  }
  .steps {
    margin-bottom: 2rem;
  }
  .card-title {
    font-weight: 600;
    margin-top: 25px;
    margin-left: 31px;
    letter-spacing: 0.9px;
  }
  .card-second {
    margin-top: 0;
    height: 431px;
  }
  .card-title-second {
    margin-top: 17px;
  }
  .card-third {
    margin-top: 0;
    height: 427px;
  }
  .card-img-third {
    width: 87%;
  }
  .card-title-third {
    margin-top: 17px;
    word-spacing: 36px;
    line-height: 146%;
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: 0.06rem;
  }
  .card-fourth {
    height: 427px;
    margin-top: 0;
  }
  .card-title-fourth {
    margin-top: 19px;
    line-height: 146%;
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: 0.08rem;
  }
  .card-img-fourth {
    width: 87%;
  }
  .card-fith {
    height: 43.3rem;
  }
  .card-title-fith {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 31px;
    letter-spacing: 0.9px;
  }
  .card-sixth {
    margin-top: 0;
    height: 431px;
  }
  .card-title-sixth {
    margin-top: 16px;
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 92%;
    margin: auto;
  }
  .header-content-title {
    font-size: 4.55rem;
    line-height: 127%;
    letter-spacing: 0.9px;
    margin-bottom: 15px;
  }
  .header-content {
    margin-top: 6rem;
    padding-top: 0;
  }
  .marks {
    justify-self: center;
  }
  .header-text {
    font-size: 14px;
    line-height: 160%;
    word-spacing: -2px;
    margin-left: -1px;
    margin-bottom: 3.1rem;
  }
  .header-button {
    width: 81px;
  }
  .header-button-contant {
    width: 100%;
    height: 60px;
    font-size: 1.4rem;
  }
  .slider-buttons {
    width: 100%;
  }
  .header-img {
    height: 955px;
  }
  .cards {
    margin-bottom: 9.5rem;
  }
  .card-title {
    font-weight: 600;
    margin-top: 25px;
    margin-left: 31px;
    letter-spacing: 0.9px;
  }
  .card-second {
    margin-top: 0;
    height: 431px;
  }
  .card-title-second {
    margin-top: 17px;
  }
  .card-third {
    margin-top: 0;
    height: 427px;
  }
  .card-img-third {
    width: 87%;
  }
  .card-title-third {
    margin-top: 17px;
    word-spacing: 36px;
    line-height: 146%;
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: 0.06rem;
  }
  .card-fourth {
    height: 427px;
    margin-top: 0;
  }
  .card-title-fourth {
    margin-top: 19px;
    line-height: 146%;
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: 0.08rem;
  }
  .card-img-fourth {
    width: 87%;
  }
  .card-fith {
    height: 43.3rem;
  }
  .card-title-fith {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 31px;
    letter-spacing: 0.9px;
  }
  .card-sixth {
    margin-top: 0;
    height: 431px;
  }
  .card-title-sixth {
    margin-top: 16px;
  }
  .section-title {
    font-size: 3.6rem;
    margin-bottom: 27px;
    letter-spacing: -0.5px;
    margin-left: 1px;
  }
  .mark-title {
    margin-bottom: 33px;
    font-size: 23px;
    line-height: 111%;
    letter-spacing: -2px;
    word-spacing: 4px;
  }
  .marks-title {
    margin-bottom: 33px;
  }
  .mark-img {
    width: 100px;
    height: 100px;
  }
  .mark {
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo title" "text text";
    grid-column-gap: 30px;
    padding: 1.875rem;
  }
  .mark-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--txt-2, #828a99);
  }
  .clients-list {
    columns: 1;
  }
  .blog-card-text {
    display: none;
  }
  .input-group-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .input-group {
    width: 100%;
  }
  .form-title {
    margin-bottom: 0.625rem;
  }
  .form-text {
    width: 100%;
    margin-top: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 30px;
  }
  .cta-form-footer {
    flex-direction: column;
  }
  .cta-form-button {
    width: 100%;
    margin-bottom: 30px;
  }
  .notify {
    margin-left: 0;
    width: 100%;
    gap: 10px;
  }
  .notify-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    margin-bottom: 50px;
  }
  .notify-icon {
    margin-top: 5px;
  }
  .input-group-label {
    top: 0.8rem;
  }
  .header-interior-info {
    width: 100%;
  }
}
